
.principal{
	width: 100%;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	
}
.gen{
	width: 100%;
	max-width: 300px;
	margin-top: 1%;
	margin: 10px;
	-webkit-perspective: 1500;
	perspective:1500;
	
}
.ficha_gen {
	width: 100%;
	max-width: 900px;
	margin-top: 1%;
	margin: 10px;
	-webkit-perspective: 1500;
	perspective: 1500;

}
.ficha {
	width: 100%;
	height: 700px;
	background-color: #ff9b11;
	;
	background-size: cover;
	position: relative;
	transform-style: preserve-3d;
	transition: 2s ease;
	border-radius: 20px;
	border-color: white;
	border-width: 5px;
	border-style: solid;
	text-align: center;


}
.datos {
	width: 90%;
	height: 90px;
	background-color: #ff9b11;
	;
	background-size: cover;
	position: relative;
	transform-style: preserve-3d;
	transition: 2s ease;
	border-radius: 20px;
	border-color: white;
	border-width: 5px;
	border-style: solid;
	margin: 5%;
}
.busqueda{
	text-align: center;
}
.busqueda h1{
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
}

.btn_update {
	padding: 0 20px;
	height:60px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #fdb425;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}
