.u-section-1 {
 background-image: none;
 min-height: 2597px;
}

.u-section-1 .u-image-1 {
 width: 233px;
 left: 0;
 right: auto;
}

.u-section-1 .u-group-1 {
 width: 835px;
 min-height: 2109px;
 margin: 8px calc(((100% - 1140px) / 2) + 51px) 60px auto;
}

.u-section-1 .u-container-layout-1 {
 padding: 30px 27px;
}

.u-section-1 .u-text-1 {
 background-image: none;
 text-transform: none;
 font-weight: 700;
 font-size: 3rem;
 margin: 0 3px;
}

.u-section-1 .u-text-2 {
 margin: 17px 3px 0;
}

.u-section-1 .u-form-1 {
 height: 303px;
 margin: 30px 3px 0;
}

.u-section-1 .u-form-group-1 {
 margin-left: auto;
}

.u-section-1 .u-form-group-2 {
 margin-left: auto;
}

.u-section-1 .u-form-group-3 {
 margin-left: auto;
}

.u-section-1 .u-form-group-4 {
 margin-left: auto;
 margin-right: 0;
}

.u-section-1 .u-form-group-5 {
 margin-left: auto;
}

.u-section-1 .u-form-group-6 {
 margin-left: auto;
}

.u-section-1 .u-form-group-7 {
 margin-left: auto;
}

.u-section-1 .u-form-group-8 {
 margin-left: auto;
}

.u-section-1 .u-form-group-9 {
 margin-left: auto;
}

.u-section-1 .u-form-group-10 {
 margin-left: auto;
}

.u-section-1 .u-form-group-11 {
 margin-left: auto;
}

.u-section-1 .u-form-group-12 {
 margin-left: auto;
}

.u-section-1 .u-form-group-13 {
 margin-left: auto;
}

.u-section-1 .u-form-group-14 {
 margin-left: auto;
}

.u-section-1 .u-form-group-15 {
 margin-left: auto;
}

.u-section-1 .u-form-group-16 {
 margin-left: auto;
}

.u-section-1 .u-form-group-17 {
 margin-left: auto;
}

.u-section-1 .u-form-group-18 {
 margin-left: auto;
}

.u-section-1 .u-form-group-19 {
 margin-left: auto;
}

.u-section-1 .u-form-group-20 {
 margin-left: auto;
}

.u-section-1 .u-form-group-21 {
 margin-left: auto;
}

.u-section-1 .u-form-group-22 {
 margin-left: auto;
}

.u-section-1 .u-form-group-23 {
 margin-left: auto;
}

.u-section-1 .u-form-group-24 {
 margin-left: auto;
}

.u-section-1 .u-form-group-25 {
 margin-left: auto;
}

.u-section-1 .u-form-group-26 {
 margin-left: auto;
}

.u-section-1 .u-form-group-27 {
 margin-left: auto;
}

.u-section-1 .u-form-group-28 {
 margin-left: auto;
}

.u-section-1 .u-form-group-29 {
 margin-left: auto;
}

.u-section-1 .u-form-group-30 {
 margin-left: auto;
}

.u-section-1 .u-form-group-31 {
 margin-left: auto;
}

.u-section-1 .u-form-group-32 {
 margin-left: auto;
}

.u-section-1 .u-form-group-33 {
 margin-left: auto;
}

.u-section-1 .u-form-group-34 {
 margin-left: auto;
}

.u-section-1 .u-form-group-35 {
 margin-left: auto;
}

.u-section-1 .u-form-group-36 {
 margin-left: auto;
}

.u-section-1 .u-form-group-37 {
 margin-left: auto;
}

.u-section-1 .u-form-group-38 {
 margin-left: auto;
}

.u-section-1 .u-form-group-39 {
 margin-left: auto;
}

.u-section-1 .u-form-group-40 {
 margin-left: auto;
}

.u-section-1 .u-form-group-41 {
 margin-left: auto;
}

.u-section-1 .u-form-group-42 {
 margin-left: auto;
}

.u-section-1 .u-btn-1 {
 margin-left: auto;
 letter-spacing: 1px;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 font-size: 0.875rem;
}

@media (max-width: 1199px) {
  .u-section-1 {
   min-height: 2485px;
 }

 .u-section-1 .u-group-1 {
   width: calc(((100% - 940px) / 2) + 741px);
   margin-top: -675px;
   margin-right: 0;
 }

 .u-section-1 .u-form-1 {
   margin-right: initial;
   margin-left: initial;
 }
}

@media (max-width: 991px) {
  .u-section-1 {
   min-height: 3210px;
 }

 .u-section-1 .u-group-1 {
   width: 720px;
   margin-top: 20px;
   margin-right: auto;
 }

 .u-section-1 .u-text-1 {
   margin-left: 0;
   margin-right: 0;
 }

 .u-section-1 .u-text-2 {
   margin-left: 0;
   margin-right: 0;
 }
}

@media (max-width: 767px) {
  .u-section-1 {
   min-height: 4555px;
 }

 .u-section-1 .u-group-1 {
   width: 540px;
   margin-right: calc(((100% - 540px) / 2));
 }

 .u-section-1 .u-container-layout-1 {
   padding-left: 10px;
   padding-right: 10px;
 }

 .u-section-1 .u-text-1 {
   font-size: 2.25rem;
 }
}

@media (max-width: 575px) {
  .u-section-1 {
   min-height: 3658px;
 }

 .u-section-1 .u-group-1 {
   width: 340px;
   margin-right: calc(((100% - 340px) / 2));
 }

 .u-section-1 .u-text-1 {
   font-size: 1.875rem;
 }

 .u-section-1 .u-form-1 {
   margin-bottom: -583px;
   margin-right: initial;
   margin-left: initial;
 }
}

.boton {
   text-align: left;
   background-color: #ffffff;
   border: none;
   color: black;
   padding: 10px 20px;
   text-decoration: none;
   display: inline-block;
   margin-left: auto;
   letter-spacing: 1px;
   border-style: none;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 0.875rem;
}
