.box{
	margin-bottom: 20px;
}
  
.box select {
	background-color: #e07c2a;
	color: white;
	padding: 12px;
	width: 250px;
	border: none;
	font-size: 20px;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
	-webkit-appearance: button;
	appearance: button;
	outline: none;
}
  
.box select:before {
	content: "\f13a";
	font-family: FontAwesome;
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	height: 100%;
	text-align: center;
	font-size: 28px;
	line-height: 45px;
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(255, 255, 255, 0.1);
	pointer-events: none;
}
  
.box select:hover::before {
	color: rgba(255, 255, 255, 0.6);
	background-color: rgba(255, 255, 255, 0.2);
}
  
.box select option {
	padding: 30px;
}

.btn_update {
	padding: 0 20px;
	position: fixed;
	height:60px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #fdb425;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.btn_update:hover {
	background: #f47a21;
}

.btn_enviar {
	padding: 0 20px;
	height:60px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #fdb425;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.btn_enviar:hover {
	background: #f47a21;
}

/* ------------------------- */
/* update_popup */
/* ------------------------- */

main .update_over {
	background: rgba(0,0,0,.3);

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

main .update_over.active {
	visibility: visible;
}

.update_popup {
	background: #ea5e22;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	margin-top: 200px;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.update_popup .btn-cerrar-update_popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.update_popup .btn-cerrar-update_popup:hover {
	color: #000;
}

.update_popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.update_popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.update_popup form .inputs-update {
	opacity: 0;
}

.update_popup form .inputs-update input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
}
.update_popup form .inputs-update label {
	width: 90%;
	height: 52px;
	font-size: 45px;
	font-family: 'Montserrat';
	line-height: 52px;
	text-align: left;
	background-color: #ea5e22;
	margin-top: 0%;
	margin-bottom: 5px;
}

.update_popup form .contenedor-inputs textarea {
	width: 100%;
	height: 150px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	margin-top: 0%;
	margin-bottom: 20px;
}

.update_popup form .btn_actu {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #f47a21;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.update_popup form .btn_actu:hover {
	background: #db86498c;
}


/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.update_popup.active {	transform: scale(1); opacity: 1; }
.update_popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.update_popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.update_popup.active .inputs-update { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}
